header {
  padding: 2em;
  background-color: #4078C0; }
  header h1 {
    color: #fff;
    font-family: Input Mono;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 1.5em;
    text-shadow: 4px 4px 2px #222; }

section.user-text {
  text-align: center;
  height: 8em;
  background-color: #ababab;
  padding: 2em; }

section.input-field {
  padding: 5em auto; }

#doLabel {
  width: 30em;
  font-size: 1.5em;
  margin-right: 1em;
  text-align: center;
  border: 2px solid #4078C0;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #555; }

#addButton {
  width: 2.8em;
  height: 2.8em;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #555;
  background-color: #fff; }

section.main-section {
  text-align: center;
  font-family: Input Mono;
  font-size: 1.5em;
  height: 20em;
  background-color: #eee;
  padding: 2em; }

#resetButton {
  width: 10em;
  height: 3em;
  margin: 2em auto;
  border-radius: 5px;
  box-shadow: 2px 3px 10px #bbb;
  font-size: 1em;
  font-family: Input Mono;
  font-weight: 100; }

div #mainList {
  margin: 0 auto; }
